body {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    max-width: 1350px;
    margin: auto;
}
a {
    text-decoration: none;
    color: blue;
}

.layout {
    display: grid;
    grid-gap: 0%;
    background-color: transparent;
    z-index: 100;
   
    
   
    
    
}

.intro_content {
    height: 500px;
    border: 0px;
    
    /* background-image: url('./files/blue-background.jpg'); */
    /* background-repeat: no-repeat;  */
}
.split_intro {
    height : 400px;
    width: 1100px;
    float: left;
    margin-top: 20px;
}
.reduce_width {
    width : 100px;
    margin-left: 10px;
}
.reduce_width > div {
    width: 90px;
    height: 90px;
    margin-top: 180px;
    font-size: 52px;
    font-weight: bold;
    color: #193165;
    opacity: 0.6;
    transition: 0.7s;
}
.reduce_width > div:hover {
    opacity: 1;
    cursor: pointer;
}
.main_headings_and_button > div {
    width: 600px;
    height: 120px;
    margin-left: 250px;
    margin-top: 30px;
}
.main_headings_and_button  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color:#112653;
}
.main_headings_and_button p {
    text-align: center;
    font-size: 17px;
}
.main_headings_and_button div:nth-child(2), .main_headings_and_button div:nth-child(3)  {
    margin-top: 0px;
}
.blue_button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    width: 200px;
    background-color: #112653;
    color: white;
    margin-left: 70px;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    border-radius: 5px;
    transition : 0.7s;
}
.blue_border_button {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #112653;
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #112653;
    transition: 0.7s;
}
.blue_button > span:hover , #blue_border_button > span:hover {
    margin-left: 10px;
}
.responsive_tags {
    height: 80px;
    width: 1136px;
    /*border: 1px solid black;*/
    border-radius: 10px;
    margin-left: 107px;
    margin-top: 443px;
    background: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.responsive_tags  p{
    margin-top: 10px;
    margin-left : 20px;
    color: orangered;
    font-size: 18px;
    border: 0px;
    color: blue;
    background-color: white;
}
.responsive_tags > div {
    width: 200px;
    height: 100px;
    float: left;
    margin-left: 18px;
    cursor: pointer;
}
.responsive_tags>div:hover:after {
    content: "";
    display: inline-block;
    width: 40px;
    border-bottom: 3px solid blue;
    margin-left: 18px;
}

.tag_description {
    /*border : 1px solid black;*/
    margin-top: 60px;
}
.tag_description > div {
    height: 150px;
    width: 350px;
    margin: 10px;
    float: left;
    margin-left: 0px;

}
.tag_description > div:nth-child(1) {
    background-image: url('https://webstatic.chargebee.com/assets/web/352/images/product/common/creation.svg');
    background-repeat: no-repeat;
    background-position: 100% 20%;
    height: 320px;
    width: 350px;
    float: left;
    margin-left: 160px;
    margin-right: 30px;
    text-align: right;
}
.tag_description > hr {
    width:70%;
    margin:0 auto;
    clear: both;
}
.deeper_description {
    margin-top: 30px;
    background-image: url('https://webstatic.chargebee.com/assets/web/352/images/product/subscription-management/price-the-way-pocket.svg');
    height: 400px;
    background-repeat: no-repeat;
    background-position: 70% 50%;
}
.deeper_description > div {
    width: 500px;
    height: 400px;
    margin-left: 150px;
}
.testimonial {
    background-image: url('https://webstatic.chargebee.com/assets/web/352/images/product/testimonial/trail-testimonial.png');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   background-attachment: fixed;
   box-shadow:inset 0 0 200px 150px rgba(0,0,0,0.9);
   margin-top: 100px;
}
.testimonial > div > p {
    color: white;
    text-align: left;
    font-size: 20px;
}
.testimonial_author {
    margin-left: 250px;
    color: white;
    text-align: left;
    font-size: 18px;
}
.testimonial > div {
    height: 400px;
    width: 500px;
    margin-top: 100px;
    margin-left: 820px;
    background-image: url('https://webstatic.chargebee.com/assets/web/352/images/case-study/trail/trail-logo-white.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.testimonial  a {
    color: white;
    text-decoration: underline;
}
.salient_features > div {
    margin-top: 100px;
    height: 400px;
    width: 500px;
    float: left;
    margin-left: 150px;
}

.salient_features_with_img {
    margin: auto;
    margin-top : 100px;
    background-image: url('https://webstatic.chargebee.com/assets/web/352/images/product/codacy.svg');
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
    width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.salient_features_with_img > div{
    margin: auto;
    margin-left: 700px;
    margin-top: 70px;
    width: 500px;
    height: 400px;

}
.salient_features_with_img_2 {
    margin: auto;
    margin-top : 100px;
    background-image: url('https://webstatic.chargebee.com/assets/web/352/images/product/subscription-management/subscription-mgmt-lifecycle.svg');
    background-repeat: no-repeat;
    background-position: 100% 80%;
    height: 400px;
    width: 1200px;
}
.salient_features_with_img_2 > div {
    height: 350px;
    width: 500px;
}
.subscription_ad {
    height: 300px;
    width: 800px;
    margin:auto;
    margin-top: 100px;
    background-image: url('https://webstatic.chargebee.com/assets/web/352/images/product/logos.svg');
    background-repeat: no-repeat;
    background-position: 50% 10%;
} 
.subscription_ad > div:nth-child(1) {
    margin-top: 125px;
}
.subscription_ad > div:nth-child(2) {
    margin-left: 100px;
    font-size: 20px;
}
.subscription_ad > div > p {
    font-size: 25px;
    text-align: center;
}
.subscription_ad > div > a {
    margin-left: 50px;
}
.demo_signup {
    height: 250px;
    width: 700px;
    margin:auto;
    margin-top: 100px;
}
.demo_signup > div > p {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.violet_button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    width: 200px;
    background-color: indigo;
    color: white;
    margin-left: 100px;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
}

.white_button {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid indigo;
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
    color: indigo;
}
.demo_exclusive {
    height: 150px;
    width: 1000px;
    margin : auto;
    margin-top: 100px;
}
.demo_exclusive >div {
    width : 500px;
    float: left;
}
.demo_exclusive > div:nth-child(2) {
    margin-top : 40px;
}
.demo_exclusive > div > p {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}
#violet_button2 {
    margin: 0;
    float: right;
}
.demo_exclusive > hr {
    width:100%;
    margin:0 auto;
    clear: both;
}
.company_centric_details {
    height: 310px;
    width: 1100px;
    margin-left: 160px;
    margin-top: 60px;
}
.company_centric_details > div {
    width: 250px;
    height: 300px;
    float: left;
    margin: 10px;
}
.company_features_header {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
/*Working with animated arrow feature*/
.arrow_right,
.arrow_left,
.long_arrow_right,
.long_arrow_left{
  display: block;
  margin:0px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  float: right;
  transition: 0.5s;
}
.arrow_right_1 {
    margin-right: 169.5px;
    margin-top: 6px;
}
.long_arrow_right_1 {
    margin-right: 150px;
    margin-top: 6px;
}
.arrow_right_2 {
    margin-right: 84.6px;
    margin-top: 6px;
}
.long_arrow_right_2 {
    margin-right: 65.1px;
    margin-top: 6px;
}
.arrow_right_3 {
    margin-right: 151.6px;
    margin-top: 6px;
}
.long_arrow_right_3 {
    margin-right: 132.1px;
    margin-top: 6px;
}
.arrow_right_4 {
    margin-right: 154.6px;
    margin-top: 6px;
}
.long_arrow_right_4 {
    margin-right: 135.1px;
    margin-top: 6px;
}
.arrow_right,
.long_arrow_right{
 transform: rotate(135deg);
}

.arrow_left,
.long_arrow_left{
 transform: rotate(-45deg);
}
.long_arrow_right::after,
.long_arrow_left::after{
  content: "";
  display: block;
  width: 2px;
  height: 30px;
  background-color: black;
  transform: rotate(-45deg) translate(10px, 4px);
  left: 0;
  top: 0;
}
.sub_headers {
    transition: 0.3s;
    font-size: 14px;
}
.sub_headers:hover {
    margin-left: 5px;
}
#footer{
    background-color: white;
    background-image: url('https://www.chargebee.com/static/resources/brand/chargebee-logo-black.svg');
    background-repeat: no-repeat;
    background-size: 100px;
    height: 80px;
    width: 1000px;
    margin : auto;
    margin-top: 80px;
    background-position: 2% 20%;
}
.footer_pngs {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin: 10px;
    float: right;
}